<!DOCTYPE html>
<html>
  <head>
    <title>EventsAgenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h2>Our brand new Events Agenda</h2>
    </div>
    <%= yield %>
    <div class="footer">
      <h4>;)</h4>
    </div>
  </body>
</html>
